.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
/elvis
/hoc2js*.jar

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
/rebar3
_build/
_checkouts/
src/hocon_parser.erl
src/hocon_scanner.erl

# IDEs
/.idea/

#escript
/hocon

# test
generated/

# git shallow clone does not work with rebar.lock
rebar.lock

erlang_ls.config
