[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        ignore => [hocon_parser, hocon_scanner],
        ruleset => erl_files,
        rules => [{elvis_style, operator_spaces, #{rules => [{right, ","},
                                                             {right, "|"},
                                                             {left, "|"},
                                                             {right, "||"},
                                                             {left, "||"}]}}]
       },
      #{dirs => ["test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [{elvis_style, operator_spaces, #{rules => [{right, ","},
                                                             {right, "|"},
                                                             {left, "|"},
                                                             {right, "||"},
                                                             {left, "||"}]}}]
      }
     ]
    }
   ]
 }
].
