[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        ignore => [hocon_parser, hocon_scanner],
        rules => [{elvis_more_rules, enhanced_operator_spaces, #{}}],
        ruleset => erl_files
       },
      #{dirs => ["test"],
        filter => "*.erl",
        ruleset => erl_files
      }
     ]
    }
   ]
 }
].
