[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "hocon.erl",
        ruleset => erl_files
       },
      #{dirs => ["src"],
        filter => "hocon_cli.erl",
        ruleset => erl_files
      },
      #{dirs => ["test"],
        filter => "*.erl",
        ruleset => erl_files
      }
     ]
    }
   ]
 }
].